<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="{{ base_url() }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url() }}/assets/css/style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <!-- Fixed navbar -->
    {% if isLogged() == true %}
￼    {% include 'templates/_menu.html.twig' %}
    {% endif %}

    <div class="container-fluid">
    {% if isLogged() == true %}
￼    {% include 'templates/_menu_lateral.html.twig' %}
    {% endif %}
    {% block content %}{% endblock %}
    </div> <!-- /container -->
    
    {% include 'templates/_footer.html.twig' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.rawgit.com/khalidsalomao/simple-query-string/22cc5bbe/src/simplequerystring.min.js"></script>
    <script src="{{ base_url() }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/assets/js/jquery.maskedinput.js"></script>
    <script src="{{ base_url() }}/assets/js/jquery.maskMoney.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/js/scripts.js"> </script>
</body>
</html>