{% extends "templates/layout.html.twig" %}

{% block title %}{{ title }}
{% endblock %}

{% block content %}
    <div class="container col-md-8 col-sm-8" id="div-principal-form-pagar-fatura-cartao">
        <div class="row">
            <div class="col-md-10 col-sm-10">
                <div class="well well-sm sombra" id="well_fatura_pagar_cartao">
                    <form class="form-horizontal" role="form" action="{{ base_url() }}/fatura/pagar" method="post" id="formPagarFaturaCartaoCredito">
                        <fieldset>
                            <legend class="text-center">Pagar Fatura de Cartão de Crédito</legend>

                            <div class="form-group col-md-12 col-sm-12">
                                <label class="col-sm-3 col-md-3 control-label tam-fonte" for="cartao">Fatura:</label>
                                <div class="col-sm-8 col-md-8">
                                    <select class="form-control remove-color-option white" name="fatura" id="fatura" disabled="disabled"/>
                                    <option></option>
                                    {% for fatura in faturas %}
                                        <option value="{{ fatura.id }}">{{ fatura.data_pagamento_fatura|date("d/m/Y") }} - {{ insert_numbers(fatura.numero_cartao) }} - {{ fatura.bandeira }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-12 col-sm-12">
                                <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}"/>
                                <input type="hidden" name="_has_conta" id="_has_conta" value="{{ hasConta() }}"/>
                            </div>

                            <!-- Form actions -->
                            <div class="form-group col-md-12 col-sm-12">
                                <div class="col-md-4 col-sm-4 col-md-offset-3 col-sm-offset-3 text-left">
                                    <button type="button" class="btn btn-primary btn-md" id="btn-nov-pagar-fatura-cartao">Novo</button>
                                    <button type="submit" class="btn btn-primary btn-md" id="btn-pagar-fatura-cartao" disabled="disabled">Pagar</button>
                                </div>
                                <div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1 text-left" id="div-msg-pagar-fatura-cartao-credito">
                                    
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>    
            </div>
        </div>
    </div>
</div>

{% endblock %}