<table class="table table-striped table-hover table-bordered table-condensed" id="table_pgto_agendado">
    <thead>
        <tr>
            <td colspan='4' id='cab_table'>Contas Agendadas para {{ mes() }} / {{ "now"|date("Y") }}</td>
        </tr>
        <tr>
            <th>Movimentação</th>
            <th>Valor</th>
            <th>Data Pagamento</th>
            <th>Pago</th>
        </tr>
    </thead>
    <tbody>
        {% set total = 0 %}
        {% for pgto in pgtos %}
        <tr>
        {% if pgto.pago == 'Não' %}
            <td class='td_color_pgto'>{{ pgto.movimentacao }}</td>
            <td class='td_color_pgto'>R$ {{ pgto.valor|number_format(2, ',', '.') }}</td>
            <td class='td_color_pgto'>{{ pgto.data_pagamento|date("d/m/Y") }}</td>
            <td class='td_color_pgto'>{{ pgto.pago }}</td>
        {% else %}   
            <td class='td_color_pgto_sim'>{{ pgto.movimentacao }}</td>
            <td class='td_color_pgto_sim'>R$ {{ pgto.valor|number_format(2, ',', '.') }}</td>
            <td class='td_color_pgto_sim'>{{ pgto.data_pagamento|date("d/m/Y") }}</td>
            <td class='td_color_pgto_sim'>{{ pgto.pago }}</td>
        {% endif %}     
        </tr>
        {% set total = total + pgto.valor %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" align='center' class="cor_preta">Total de Contas a Pagar em {{ mes() }} / {{ "now"|date("Y") }}</td>
            <td colspan="2" align='right' class='cor_preta tam_fonte'>R$ {{ total|number_format(2, ',', '.') }} </td>
        <tr>
    </tfoot>
</table>