<h4>Escolha uma Conta abaixo para obter acesso a todas Operações do Sistema!!!</h4>
<table class="table table-striped table-hover table-bordered table-condensed" id="table_contas">
    <thead>
        <tr>
            <th>Selecione</th>
            <th>Cód. Agência</th>
            <th>Conta</th>
            <th>Operação</th>
            <th>Tipo de Conta</th>
            <th>Banco</th>
        </tr>
    </thead>
    <tbody>
        {% for conta in contas %}
        <tr>
            <td><input type="radio" class="custom-control-input" name="id_conta" id="id_conta" value="{{ conta.id }}" /></td>
            <td><input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}" />  {{ conta.codigo_agencia }}</td>
            <td>{{ conta.numero_conta }}-{{ conta.digito_verificador_conta }}</td>
            <td>{{ conta.codigo_operacao }}</td>
            <td>Conta Poupança</td>
            <td>Caixa Econômica Federal</td>
        </tr>
        {% endfor %}
    </tbody>
</table>