{% extends "templates/layout.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container col-md-9" id="div-principal-home">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm sombra">
                <p>{{ data }}</p>

                {% if contas is not empty and hasConta() is empty %}
                <table class="table table-striped table-hover table-bordered table-condensed" id="table_contas">
                    <thead>
                        <tr>
                            <th>Selecione</th>
                            <th>Cód. Agência</th>
                            <th>Conta</th>
                            <th>Operação</th>
                            <th>Tipo de Conta</th>
                            <th>Banco</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for conta in contas %}
                        <tr>
                            <td><input type="radio" class="custom-control-input" name="id_conta" id="id_conta" value="{{ conta.id }}" /></td>
                            <td><input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}" />  {{ conta.codigo_agencia }}</td>
                            <td>{{ conta.numero_conta }}-{{ conta.digito_verificador_conta }}</td>
                            <td>{{ conta.codigo_operacao }}</td>
                            <td>Conta Poupança</td>
                            <td>Caixa Econômica Federal</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                {% elseif contas is not empty and hasConta() is not empty %}
                    <p>Inserir a Tabela com a Listagem de Pagamentos</p>
                    <button type="button" class="btn btn-primary btn-md" id="btn-trocar-conta">Trocar de Conta</button>
                    <input type="hidden" name="_has_conta" id="_has_conta" value="{{ hasConta() }}" />
                    <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}"
                {% endif %}
                
            </div>
        </div>    
    </div>
</div>

<style>
    #div-principal-home {
        margin-top: 5%;
        margin-left: 23.6%;
    }
</style>
{% endblock %}