{% extends "templates/layout.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container col-md-9 div-principal">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="well well-sm sombra" id="well_debito">
            <form class="form-horizontal" role="form" action="{{ base_url() }}/conta/debitar" method="post" id="formCadDebito">
            <fieldset>
                <legend class="text-center">Transação Debitar Valor</legend>
                <div class="form-group col-md-12">
                    <label class="col-sm-2 control-label tam-fonte" for="data_movimentacao_deb">Data Movimentação:</label>
                    <div class="col-sm-4">
                        <input type="date" id="data_movimentacao_deb" name="data_movimentacao_deb" class="form-control remove-color-input-date white" autofocus="autofocus" disabled="disabled"/>
                    </div>

                    <label class="col-sm-2 control-label tam-fonte" for="movimentacao">Movimentação:</label>
                    <div class="col-sm-4">
                        <input type="text" id="movimentacao" name="movimentacao" placeholder="Informe a Movimentação" class="form-control remove-color-input white" disabled="disabled"/>
                        <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}" />   
                        <input type="hidden" name="_has_conta" id="_has_conta" value="{{ hasConta() }}" />
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-sm-2 control-label tam-fonte" for="valor">Valor:</label>
                    <div class="col-sm-4">
                        <input type="text" id="valor" name="valor" placeholder=" R$ 0,00" class="form-control remove-color-input-money white" disabled="disabled"/>
                    </div>

                    <label class="col-sm-2 control-label tam-fonte" for="categoria">Categoria:</label>
                    <div class="col-sm-4">
                        <select class="form-control remove-color-option white" name="categoria" id="categoria" disabled="disabled"/>
                            <option></option>
                                {% for categoria in categorias %}
                                <option value="{{ categoria.id }}">{{ categoria.nome_categoria }}</option>
                                {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Form actions -->
                <div class="form-group col-md-12">
                    <div class="col-md-4 col-md-offset-2 text-left">
                        <button type="button" class="btn btn-primary btn-md" id="btn-nov-debito">Novo</button>
                        <button type="submit" class="btn btn-primary btn-md" id="btn-cad-debito" disabled>Cadastrar</button>
                    </div>
                    <div class="col-md-4 col-md-offset-1 text-left" id="div-msg-cadastro-debito">
                        
                    </div>
                </div>

            </fieldset>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}